*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'lexend'; }

.featured {
  padding: 12rem 0rem 6rem 16rem; }
  @media only screen and (max-width: 37.5em) {
    .featured {
      padding: 6rem 5rem;
      padding-bottom: 0rem !important; } }
  .featured__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding-right: 12rem; }
    @media only screen and (max-width: 50em) {
      .featured__nav {
        flex-direction: column;
        align-items: center;
        padding-right: 0rem; } }
  .featured__h1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
    text-transform: capitalize;
    color: #1B1C57; }
    @media only screen and (max-width: 37.5em) {
      .featured__h1 {
        margin-bottom: 2rem;
        margin-top: 2rem; } }

.recomend {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-left: 8.5rem;
  text-transform: capitalize;
  color: #F59E0B; }
  @media only screen and (max-width: 50em) {
    .recomend {
      text-align: center;
      margin-left: 0rem; } }

.house {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .house {
      flex-direction: column;
      align-items: center; } }
  .house__home {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    padding: 1.2rem 2.4rem;
    background: #D1FAE5;
    border-radius: 32px; }
    @media only screen and (max-width: 50em) {
      .house__home {
        padding: 1rem 2rem;
        margin-right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .house__home {
        padding: 1rem 2rem;
        margin-bottom: 2rem; } }
  .house__green-home {
    margin-right: 1rem; }
  .house__green-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #10B981; }
  .house__villa {
    display: flex;
    align-items: center;
    border: 2px solid  #E5E5E5;
    padding: 0 3rem;
    border-radius: 4rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 50em) {
      .house__villa {
        padding: 0 2rem;
        margin-right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .house__villa {
        padding: 1rem 2rem;
        margin-bottom: 2rem; } }
  .house__villa-logo {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1.1rem; }
  .house__villa-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #888B97; }
  .house__appart {
    display: flex;
    align-items: center;
    border: 2px solid  #E5E5E5;
    padding: 0 3rem;
    border-radius: 4rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 50em) {
      .house__appart {
        padding: 0 2rem;
        margin-right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .house__appart {
        padding: 1rem 2rem;
        margin-bottom: 2rem; } }
  .house__icon1 {
    background: #E0E3EB;
    border-radius: 3.2rem;
    padding: 1.2rem 1.6rem;
    margin-right: 1.6rem; }
  .house__icon2 {
    background: #10B981;
    border-radius: 3.2rem;
    padding: 1.2rem 1.6rem; }

.houses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .houses__p1 {
    margin-top: 2rem;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #0E1735; }
    @media only screen and (max-width: 37.5em) {
      .houses__p1 {
        text-align: center; } }
  .houses__price1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #3C4563; }
    @media only screen and (max-width: 37.5em) {
      .houses__price1 {
        text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .houses__card1 {
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .houses__card2 {
      margin-bottom: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .houses__card3 {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .houses__card4 {
      display: none; } }
  .houses__card1-details {
    display: flex;
    margin-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .houses__card1-details {
        justify-content: center; } }
  @media only screen and (max-width: 37.5em) {
    .houses__img {
      height: 70%;
      text-align: center; } }
  .houses__text1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #0E1735; }
  .houses__text2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #888B97; }
  .houses__cardlogo {
    margin-right: 1.6rem; }

.footer {
  background-image: url(../img/footer-blur.png);
  background-repeat: no-repeat;
  background-position: right; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      background-image: none; } }
  .footer__main {
    display: flex;
    padding: 6rem 12rem; }
    @media only screen and (max-width: 50em) {
      .footer__main {
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .footer__main {
        padding: 4rem 4rem; } }
  .footer__first {
    flex: 0 0 50%; }
  .footer__first-text-div {
    width: 62%;
    margin-top: 2.2rem; }
    @media only screen and (max-width: 50em) {
      .footer__first-text-div {
        width: 70%; } }
    @media only screen and (max-width: 50em) {
      .footer__first-text-div {
        width: 100%; } }
  .footer__first-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #626687;
    opacity: 0.75; }
    @media only screen and (max-width: 50em) {
      .footer__first-text {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3.4rem;
        margin-top: 5rem; } }
  .footer__icons-div {
    display: flex;
    align-items: center;
    margin-top: 3rem; }
    @media only screen and (max-width: 50em) {
      .footer__icons-div {
        margin-bottom: 8rem; } }
  .footer__icon {
    margin-right: 3rem; }
  .footer__second {
    flex: 0 0 50%; }

.hunter-footer {
  display: flex;
  position: relative; }

.nav-part {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .nav-part__row1 {
      margin-right: 3rem; } }
  .nav-part__ul1 {
    list-style-type: none; }
  .nav-part__li-main {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #0E1735;
    margin-bottom: 2.4rem; }
  .nav-part__li {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: capitalize;
    color: #888B97;
    margin-bottom: 1.8rem; }

.header {
  width: 100%;
  height: 100%;
  display: flex; }
  @media only screen and (max-width: 62.5em) {
    .header {
      display: flex;
      flex-direction: column;
      padding: 0 5rem;
      height: 100%; } }
  .header__first {
    flex: 0 0 50%; }
  .header__second {
    position: relative;
    flex: 0 0 50%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .header__second {
        height: 100;
        background-size: auto; } }
  .header__main-image-div {
    width: 100%; }
  .header__main-image {
    width: 100%; }
  .header__first-haf {
    padding: 4rem 10.4rem 0rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/blur.png);
    background-repeat: no-repeat;
    background-position: left; }
    @media only screen and (max-width: 62.5em) {
      .header__first-haf {
        background-image: none; } }
    @media only screen and (max-width: 37.5em) {
      .header__first-haf {
        padding: 2rem 0rem 0rem 0rem; } }
  .header__second-haf {
    padding-left: 12rem;
    padding-right: 10.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 62.5em) {
      .header__second-haf {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__second-haf {
        padding-left: 0rem;
        padding-right: 0rem; } }
  .header__heading {
    font-family: 'Lexend';
    font-style: normal;
    width: 93%;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    text-transform: capitalize;
    color: #1B1C57; }
    @media only screen and (max-width: 37.5em) {
      .header__heading {
        width: 100%;
        font-size: 3rem;
        line-height: 4rem; } }
  .header__span {
    color: transparent;
    -webkit-text-stroke: 2px midnightblue; }
  .header__para p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #626687;
    opacity: 0.75;
    margin-bottom: 3.2rem;
    margin-top: 2.4rem; }
  .header__ship-para {
    font-family: 'Lexend';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #888B97;
    margin-top: 3.2rem; }
  .header__logo-div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }

.hunter {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 62.5em) {
    .hunter {
      margin-bottom: -2rem; } }
  @media only screen and (max-width: 37.5em) {
    .hunter {
      margin-bottom: 2rem;
      margin-top: 3rem; } }
  .hunter__nav-row {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .hunter__nav-row {
        margin-bottom: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .hunter__nav-row {
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 5rem; } }
  .hunter__icons1 {
    width: 3.2rem;
    height: 3.2rem; }
  .hunter__icons2 {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: .5rem;
    left: .5rem; }
  .hunter__text {
    font-family: 'Lexend';
    color: #1B1C57;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: capitalize;
    margin-left: 1.2rem; }
    @media only screen and (max-width: 62.5em) {
      .hunter__text {
        margin-left: 2.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .hunter__text {
        margin-left: 3.2rem; } }

.search {
  display: flex;
  align-items: center;
  border: 1px solid #E0E3EB;
  border-radius: 3.2rem;
  justify-content: space-between;
  padding: 3px; }
  .search__icon {
    padding-left: 17px;
    margin-right: 1.9rem; }
    @media only screen and (max-width: 37.5em) {
      .search__icon {
        padding-left: 1rem;
        margin-right: 1rem; } }
  .search__location-row {
    display: flex; }
  .search__text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #888B97; }
  .search__button-row {
    display: flex;
    background: #10B981;
    border-radius: 32px;
    align-items: center;
    padding: 12px 16px;
    justify-content: space-between; }
  .search__button-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 1.3rem; }

.navbar {
  position: absolute;
  top: 16px;
  left: 10px;
  width: 90%; }

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem; }
  @media only screen and (max-width: 62.5em) {
    .nav {
      width: 84%;
      margin-left: 3rem; } }
  @media only screen and (max-width: 62.5em) {
    .nav {
      display: none;
      visibility: hidden; } }
  .nav__link {
    text-align: center;
    text-decoration: none;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: capitalize;
    color: #F0F3FD;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3.2rem;
    padding: .8rem 1.6rem; }
  .nav__change {
    text-decoration: none;
    color: #F0F3FD;
    margin-right: 1.4rem; }
  .nav__last {
    width: 10.7rem;
    text-decoration: none;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    background: #D1FAE5;
    border-radius: 3.2rem;
    color: #F0F3FD;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #047857;
    padding: 1.2rem 1.6rem; }
  .nav__arrow-row {
    display: flex;
    align-items: center; }

.navbar1 {
  visibility: hidden; }

@media only screen and (max-width: 62.5em) {
  .navbar1 {
    visibility: visible; }
  .nav1 {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem; } }
  @media only screen and (max-width: 62.5em) and (max-width: 37.5em) {
    .nav1__item1 {
      margin-bottom: .2rem; } }

@media only screen and (max-width: 62.5em) {
    .nav1__link1 {
      text-align: center;
      text-decoration: none;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.8rem;
      text-transform: capitalize;
      background-color: #D1FAE5;
      color: #047857;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 3.2rem;
      padding: .8rem 1.6rem;
      margin-right: 2rem; } }
    @media only screen and (max-width: 62.5em) and (max-width: 37.5em) {
      .nav1__link1 {
        margin-right: 0rem;
        padding: .4rem 1rem;
        margin-bottom: 2rem; } }

@media only screen and (max-width: 62.5em) {
    .nav1__last1 {
      width: 10.7rem;
      text-decoration: none;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 600;
      background: #D1FAE5;
      border-radius: 3.2rem;
      color: #F0F3FD;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: #047857;
      padding: 1.2rem 1.6rem; } }
    @media only screen and (max-width: 62.5em) and (max-width: 37.5em) {
      .nav1__last1 {
        padding: 1rem 1rem;
        line-height: 2rem; } }

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 82%;
  left: 4%;
  width: 90%; }
  .info__div1 {
    display: flex;
    align-items: center;
    padding: 2.4rem;
    height: 6rem;
    background: #FFFFFF;
    box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
    border-radius: 22px; }
  .info__div2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2.4rem;
    height: 6rem;
    background: #FFFFFF;
    box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
    border-radius: 22px; }
  .info__div3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2.4rem;
    height: 6rem;
    background: #FFFFFF;
    box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
    border-radius: 22px; }
    @media only screen and (max-width: 37.5em) {
      .info__div3 {
        margin-top: 2rem;
        display: none; } }
  .info__img1 {
    width: 7rem;
    height: 7rem;
    margin-left: -1rem; }
  .info__img2 {
    width: 7rem;
    height: 7rem;
    margin-left: -5.4rem; }
  .info__img3 {
    width: 7rem;
    height: 7rem;
    margin-left: -5.4rem; }
  .info__img4 {
    width: 3rem;
    height: 3rem;
    margin-right: 8px; }
  .info__img5 {
    margin-left: -2rem;
    width: 8rem;
    height: 8rem; }
  .info__text1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #1B1C57; }
  .info__text2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #68799F; }

.testing {
  position: relative; }
  .testing .test {
    height: 9.1rem;
    width: 6.5rem;
    border-top: 4px solid #EF4444;
    border-left: 4px solid #EF4444;
    position: absolute;
    top: -17rem;
    left: 7.7rem; }
  .testing .test1 {
    height: 9.1rem;
    width: 6.5rem;
    border-top: 4px solid #F59E0B;
    border-right: 4px solid #F59E0B;
    position: absolute;
    top: -10.2rem;
    left: 50rem; }
  .testing .test2 {
    height: 9.1rem;
    width: 6.5rem;
    border-top: 4px solid #3B82F6;
    border-right: 4px solid #3B82F6;
    position: absolute;
    top: 5rem;
    left: 52.5rem; }

.news {
  padding: 6rem 12rem;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .news {
      padding: 4rem 4rem;
      width: 100%; } }
  .news__main-div {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/background-pic.png);
    background-size: cover; }
  .news__row {
    display: flex;
    width: 100%; }
  .news__first-div {
    flex: 0 0 25%;
    height: auto;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .news__first-div {
        display: none;
        visibility: hidden;
        flex: 0 0 0; } }
  .news__div1-pic1 {
    position: absolute;
    top: 10%;
    left: 10%; }
    @media only screen and (max-width: 37.5em) {
      .news__div1-pic1 {
        display: none;
        visibility: hidden; } }
  .news__div1-pic2 {
    position: absolute;
    top: 10%;
    left: 50%; }
    @media only screen and (max-width: 37.5em) {
      .news__div1-pic2 {
        display: none;
        visibility: hidden; } }
  .news__div1-pic3 {
    position: absolute;
    top: 50%;
    left: 10%; }
    @media only screen and (max-width: 37.5em) {
      .news__div1-pic3 {
        display: none;
        visibility: hidden; } }
  .news__div1-pic4 {
    position: absolute;
    top: 55%;
    left: 55%; }
    @media only screen and (max-width: 37.5em) {
      .news__div1-pic4 {
        display: none;
        visibility: hidden; } }
  .news__second-div {
    flex: 0 0 50%; }
    @media only screen and (max-width: 37.5em) {
      .news__second-div {
        flex: 0 0 100%; } }
  .news__third-div {
    flex: 0 0 25%;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .news__third-div {
        display: none;
        visibility: hidden;
        flex: 0 0 0; } }
  .news__heading {
    margin-top: 6.5rem; }
  .news__heading-p1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: center;
    text-transform: capitalize;
    color: #1B1C57; }
    @media only screen and (max-width: 62.5em) {
      .news__heading-p1 {
        font-size: 2.8rem;
        line-height: 3.8rem; } }
  .news__heading-p2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #1B1C57; }
    @media only screen and (max-width: 62.5em) {
      .news__heading-p2 {
        font-size: 2.8rem;
        line-height: 3.8rem; } }
  .news__parent-row {
    display: flex;
    margin-top: 4.5rem;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 8.1rem; }
    @media only screen and (max-width: 37.5em) {
      .news__parent-row {
        margin-top: 6.5rem; } }
  .news__message-row {
    display: flex;
    align-items: center; }
  .news__message {
    margin-right: 2rem; }
  .news__message-p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #888B97; }
    @media only screen and (max-width: 37.5em) {
      .news__message-p {
        font-size: 2rem; } }
  .news__message-button {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #FFFFFF;
    background: #10B981;
    border-radius: 32px;
    align-items: center;
    padding: 12px 16px; }
    @media only screen and (max-width: 37.5em) {
      .news__message-button {
        padding: 8px 8px; } }
  .news__div2-pic1 {
    position: absolute;
    top: 10%;
    left: 10%; }
  .news__div2-pic2 {
    position: absolute;
    top: 25%;
    left: 50%; }
  .news__div2-pic3 {
    position: absolute;
    top: 35%;
    left: 10%; }
  .news__div2-pic4 {
    position: absolute;
    top: 60%;
    left: 60%; }

.testimonials {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .testimonials {
      padding-bottom: 0rem;
      padding-top: 4rem; } }
  .testimonials__text-div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__text-div {
        margin-top: 0rem; } }
  .testimonials__line {
    width: 32px;
    height: 1px;
    background: #F59E0B;
    margin-bottom: .8rem; }
  .testimonials__p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: capitalize;
    color: #F59E0B;
    margin-bottom: 1.2rem; }
  .testimonials__heading {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 3.3rem;
    line-height: 4rem;
    text-transform: capitalize;
    color: #1B1C57;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__heading {
        font-size: 3rem;
        line-height: 3.5rem; } }
  .testimonials__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 62.5em) {
      .testimonials__row {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .testimonials__pic1-div {
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .testimonials__pic1-div {
        margin-bottom: 9rem; } }
    @media only screen and (max-width: 50em) {
      .testimonials__pic1-div {
        margin-bottom: 9rem; } }
  .testimonials__img1 {
    align-items: center; }
  .testimonials__pic2-div {
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__pic2-div {
        height: 0rem;
        display: none;
        visibility: hidden; } }
  .testimonials__img2 {
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__img2 {
        display: none;
        visibility: hidden; } }
  .testimonials__pic3-div {
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__pic3-div {
        display: none; } }
  .testimonials__text1-div {
    position: absolute;
    top: 66%;
    left: 8%;
    background: #FFFFFF;
    box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
    border-radius: 6px;
    width: 80%; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__text1-div {
        top: 83%;
        left: 9%; } }
  .testimonials__text2-div {
    position: absolute;
    top: 66%;
    left: 10%;
    background: #FFFFFF;
    box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
    border-radius: 6px;
    width: 80%;
    padding: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__text2-div {
        visibility: hidden;
        display: none; } }
  .testimonials__text3-div {
    position: absolute;
    top: 66%;
    left: 10%;
    background: #FFFFFF;
    box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
    border-radius: 6px;
    width: 80%;
    padding: 2rem; }
  .testimonials__text1-div-p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #626687;
    opacity: 0.75;
    text-align: center;
    padding-right: 2rem;
    padding-left: 1rem;
    margin-top: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__text1-div-p {
        margin-top: 2rem; } }
  .testimonials__text2-div-h {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #1B1C57;
    padding-bottom: 1.6rem; }
  .testimonials__text2-div-p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #626687;
    opacity: 0.75; }
  .testimonials__star-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__star-row {
        margin-top: 1rem;
        justify-content: space-evenly; } }
  .testimonials__star1 {
    margin-right: 1rem; }

.pic2-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem; }
  .pic2-row__first-row {
    display: flex; }
  .pic2-row__pic {
    margin-right: 2.4rem; }
  .pic2-row__p1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #0E1735; }
  .pic2-row__p2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #888B97; }
  .pic2-row__second-row {
    display: flex; }
  .pic2-row__star {
    margin-right: 2rem; }
  .pic2-row__star-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #3C4563; }

.pagination-div {
  text-align: center;
  margin-top: 11rem; }
  @media only screen and (max-width: 62.5em) {
    .pagination-div {
      margin-top: 15rem; } }
  @media only screen and (max-width: 37.5em) {
    .pagination-div {
      margin-top: 0rem; } }

.tips {
  background-image: url(../img/greencolor.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 6rem 12rem; }
  @media only screen and (max-width: 37.5em) {
    .tips {
      padding: 4rem 6rem;
      background-image: none; } }
  .tips__heading1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.2rem;
    text-align: center;
    text-transform: capitalize;
    color: #1B1C57; }
    @media only screen and (max-width: 37.5em) {
      .tips__heading1 {
        width: 100%;
        font-size: 3rem;
        line-height: 3.5rem; } }
  .tips__heading2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.0rem;
    text-align: center;
    text-transform: capitalize;
    color: #1B1C57;
    margin-bottom: 3.6rem; }
    @media only screen and (max-width: 37.5em) {
      .tips__heading2 {
        width: 100%;
        font-size: 3rem;
        line-height: 3.5rem; } }
  .tips__button {
    padding: 12px 16px;
    background: #10B981;
    border-radius: 32px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 4.2rem; }
    @media only screen and (max-width: 37.5em) {
      .tips__button {
        padding: 7px 7px;
        border-radius: 25px;
        margin-bottom: 3rem; } }
  .tips__row {
    display: flex; }
    @media only screen and (max-width: 62.5em) {
      .tips__row {
        flex-direction: column;
        align-items: center; } }
  .tips__first {
    flex: 0 0 50%; }
  .tips__main-row {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .tips__main-row {
        flex-direction: column; } }
  .tips__img {
    margin-right: 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .tips__img {
        width: 100%;
        margin-bottom: 1rem; } }
  .tips__text-row1 {
    display: flex;
    align-items: center;
    padding-bottom: 1.2rem; }
  .tips__logo {
    margin-right: 1.5rem; }
  .tips__row1-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    color: #3C4563; }
  .tips__h1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-transform: capitalize;
    color: #1B1C57; }
  .tips__text-row2 {
    display: flex;
    align-items: center;
    margin-top: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .tips__text-row2 {
        margin-bottom: 2.5rem; } }
  .tips__logo-clock {
    margin-right: 1.5rem;
    width: auto;
    height: auto; }
  .tips__last-p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #888B97; }
  .tips__second {
    flex: 0 0 50%; }
  .tips__second-row1 {
    display: flex;
    align-items: center;
    margin-top: 2.9rem;
    margin-bottom: 1.7rem; }
  .tips__second-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #3C4563; }
  .tips__second-logo {
    margin-right: 1.6rem; }
  .tips__second-p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #626687;
    opacity: 0.75; }
  .tips__last-img {
    width: 100%; }
    @media only screen and (max-width: 75em) {
      .tips__last-img {
        width: 100%; } }
    @media only screen and (max-width: 62.5em) {
      .tips__last-img {
        width: 84%;
        margin-top: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .tips__last-img {
        width: 100%; } }

.div-1 {
  margin-bottom: 4rem; }

.div-2 {
  margin-bottom: 4rem; }

.p-margin {
  margin-top: 1.2rem; }

.tours {
  padding: 6rem 12rem;
  background-image: url(../img/redcolor.png);
  background-repeat: no-repeat;
  background-position: right; }
  @media only screen and (max-width: 37.5em) {
    .tours {
      padding: 0rem 3rem 6rem 3rem;
      background-image: none; } }
  .tours__row {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .tours__row {
        display: flex;
        flex-direction: column;
        padding: 0 5rem; } }
    @media only screen and (max-width: 50em) {
      .tours__row {
        display: flex;
        flex-direction: column;
        padding: 0rem 0rem; } }
  .tours__first {
    flex: 0 0 50%;
    margin-top: 4rem;
    padding-left: 4rem; }
  .tours__second {
    flex: 0 0 50%; }
  .tours__pics {
    position: relative; }
    @media only screen and (max-width: 50em) {
      .tours__pics {
        width: 45rem; } }
    @media only screen and (max-width: 37.5em) {
      .tours__pics {
        width: 40rem;
        margin-left: 0rem; } }
  .tours__main-pic {
    margin-left: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .tours__main-pic {
        width: 100%;
        margin-left: 10px; } }
  .tours__pic1 {
    position: absolute;
    top: 70%;
    left: 8%; }
    @media only screen and (max-width: 37.5em) {
      .tours__pic1 {
        display: none;
        visibility: hidden; } }
  .tours__pic2 {
    position: absolute;
    top: 91%;
    left: 62%; }
    @media only screen and (max-width: 37.5em) {
      .tours__pic2 {
        display: none;
        visibility: hidden; } }
  .tours__pic3 {
    position: absolute;
    top: 91%;
    left: 82%; }
    @media only screen and (max-width: 37.5em) {
      .tours__pic3 {
        display: none;
        visibility: hidden; } }
  .tours__button {
    position: absolute;
    top: 45%;
    left: 54%; }
    @media only screen and (max-width: 37.5em) {
      .tours__button {
        top: 50%;
        left: 43%; } }
  .tours__recomend2-row {
    display: flex;
    align-items: center; }
  .tours__recomend2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #F59E0B; }
  .tours__recomend2-line {
    margin-left: -4rem;
    margin-right: .8rem;
    height: 1px;
    width: 3.2rem;
    background: #F59E0B; }
  .tours__heading {
    margin-top: 1.5rem;
    margin-bottom: 1.6rem;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
    text-transform: capitalize;
    color: #1B1C57; }
    @media only screen and (max-width: 37.5em) {
      .tours__heading {
        font-size: 3rem;
        line-height: 3.5rem; } }
  .tours__text {
    margin-bottom: 1.6rem;
    width: 76%;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #626687;
    opacity: 0.75; }
    @media only screen and (max-width: 37.5em) {
      .tours__text {
        width: 100%;
        line-height: 2.5rem; } }
  .tours__house-detail {
    margin-bottom: 2.4rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #1B1C57;
    opacity: 0.75; }
  .tours__second {
    flex: 0 0 50%; }

.icon {
  width: 55%; }
  .icon__row1 {
    display: flex;
    align-items: start;
    justify-content: space-between; }
  .icon__row2 {
    display: flex;
    align-items: start;
    justify-content: space-between; }
  .icon__icons {
    margin-right: 2rem; }
  .icon__first {
    display: flex;
    align-items: center;
    margin-bottom: 2.8rem; }
  .icon__second {
    display: flex;
    align-items: center; }
  .icon__text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #3C4563; }
    @media only screen and (max-width: 37.5em) {
      .icon__text {
        margin-right: 4rem; } }

.line {
  height: 2px;
  width: 46rem;
  background: #F0F3FD;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .line {
      width: 28rem; } }

.tour-last-row {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .tour-last-row {
      flex-direction: column; } }
  @media only screen and (max-width: 62.5em) {
    .tour-last-row {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 62.5em) {
    .tour-last-row {
      width: 90%; } }
  .tour-last-row__pic {
    margin-right: 2.4rem; }
    @media only screen and (max-width: 37.5em) {
      .tour-last-row__pic {
        margin-bottom: 1rem; } }
  .tour-last-row__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    background: #10B981;
    border-radius: 32px;
    margin-left: 7rem; }
    @media only screen and (max-width: 75em) {
      .tour-last-row__button {
        margin-left: 2rem; } }
    @media only screen and (max-width: 62.5em) {
      .tour-last-row__button {
        padding: 7px 8px;
        margin-left: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .tour-last-row__button {
        padding: 6px 7px;
        margin-top: 1rem;
        margin-bottom: 4rem; } }
  .tour-last-row__text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .tour-last-row__text {
        margin-left: 1rem;
        font-size: 1.4rem;
        line-height: 2.2rem; } }

.text-row__p1 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #0E1735; }

.text-row__p2 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #888B97; }
