// COLOR VARIABLES
$body-color : #E5E5E5;

// FONT VARIABLES
$font-primary : 'Lato', sans-serif;
$font-display : 'Open Sans', sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-xmedium : 43.75; // 700px
$bp-small: 37.5em;    // 600px;


///////////////////////////
/// global reset

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html { 
    box-sizing: border-box;
    font-size: 62.5%;   // 1 rem = 10px ,  10px / 16px = 62.5%

    @media only screen and (max-width : $bp-large)  {
        font-size: 50%;     // 1 rem = 8px , 8px/16px = 59%  
                
    }
}

body {
    
    // background-color: $body-color;
    font-family: $font-primary;
    // color: $color-grey-dark-2;
    // font-weight: 300;
    // line-height: 1.6;
}