.featured {
    // padding: 12rem 3rem;
    padding: 12rem 0rem 6rem 16rem;
   
    @media only screen and (max-width : $bp-largest)  {
           
        padding: 12rem 0rem 6rem 6rem;
       
       }

    @media only screen and (max-width : $bp-small)  {
           
        padding: 6rem 5rem;
        padding-bottom: 0rem!important;
    }
     

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 4rem;
        padding-right: 12rem;


        @media only screen and (max-width : $bp-largex)  {
           
           padding-right: 4rem;
         
          }

         @media only screen and (max-width : $bp-medium)  {
           
           flex-direction: column;
           align-items: center;
           padding-right: 0rem;
        //    height: 23vh;
         }

    }

    &__heading {

    }
    &__h1 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 4rem;
        text-transform: capitalize;
        color: #1B1C57;

        @media only screen and (max-width : $bp-small)  {
           
            margin-bottom: 2rem;
            margin-top: 2rem;
           }

           @media only screen and (max-width : $bp-medium)  {
           
            margin-bottom: 2rem;
            margin-top: 2rem;
           }
    }


}
.recomend  {

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-left: 8.5rem;
    text-transform: capitalize;
    color: #F59E0B;

    @media only screen and (max-width : $bp-medium)  {
           
        text-align: center;
        margin-left: 0rem;
 }

    // &:hover {
    //     // height: 3px;
    //     border-bottom: 3px solid #8c8eff;
        
    // }

}

.house {
    display: flex;

    @media only screen and (max-width : $bp-medium)  {
           
        margin-bottom: 2rem;
       
       }

        @media only screen and (max-width : $bp-small)  {
            flex-direction: column;
            align-items: center;  
        }
      
    

    &__home  {
        margin-right: 2rem;
        display: flex;
        align-items: center;
        padding: 1.2rem 2.4rem;
        background: #D1FAE5;
        border-radius: 32px;

        @media only screen and (max-width : $bp-medium)  {
            padding: 1rem 2rem;
            margin-right: 1rem;
       }

       @media only screen and (max-width : $bp-small)  {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
       }

    }
    &__green-home {
        margin-right: 1rem;

    }

    &__green-text {
                        
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #10B981;


    }

  

    &__villa {
        display: flex;
        align-items: center;
        
        border: 2px solid  #E5E5E5;
        padding: 0 3rem;
        border-radius: 4rem;
        margin-right: 2rem;

        @media only screen and (max-width : $bp-medium)  {
            padding: 0 2rem;
            margin-right: 1rem;
           
     }

     @media only screen and (max-width : $bp-small)  {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
       }

    }

    &__villa-logo {
        height: 1.8rem;
        width: 1.8rem;
        margin-right: 1.1rem;
        

    }

    &__villa-text {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #888B97;
    }
        
    

    &__appart {
        display: flex;
        align-items: center;
        border: 2px solid  #E5E5E5;
        padding: 0 3rem;
        border-radius: 4rem;
        margin-right: 2rem;

        @media only screen and (max-width : $bp-medium)  {
            padding: 0 2rem;
            margin-right: 1rem;
           
        }

     @media only screen and (max-width : $bp-small)  {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
       }
    }

    &__icons { 

    }

    &__icon1 {
        background: #E0E3EB;
        border-radius: 3.2rem;
        padding: 1.2rem 1.6rem;
        margin-right: 1.6rem;

    }

    &__icon2 {
        background: #10B981;
        border-radius: 3.2rem;
        padding: 1.2rem 1.6rem;
    }
}

// .house-icon1 {
//     margin-right: 1rem;
// }

.houses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width : $bp-largex)  {
        justify-content: space-evenly;
    }
  

    &__p1 {

    margin-top: 2rem;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #0E1735;

    @media only screen and (max-width : $bp-small)  {
        text-align: center;   
    }

    }
    &__price1 {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 3.2rem;
        color: #3C4563;

        @media only screen and (max-width : $bp-small)  {
            text-align: center;   
        }
    }
    &__card1 {

        @media only screen and (max-width : $bp-medium)  {
            margin-bottom: 6rem;   
        }

        @media only screen and (max-width : $bp-small)  {
            margin-bottom: 6rem;   
        }
  
    }

    &__card2 {

        @media only screen and (max-width : $bp-medium)  {
            margin-bottom: 6rem;   
        }

        @media only screen and (max-width : $bp-small)  {
            margin-bottom: 8rem;   
        }
        
  
    }

    &__card3 {
        // @media only screen and (max-width : $bp-medium)  {
        //     margin-bottom: 6rem;   
        // }

        @media only screen and (max-width : $bp-largex)  {
            margin-top: 4rem;   
        }
      

        @media only screen and (max-width : $bp-small)  {
            margin-bottom: 4rem;   
        }
      

    }

    &__card4 {

        @media only screen and (max-width : $bp-largestxx)  {
            display: none;
      }
      

        @media only screen and (max-width : $bp-small)  {
            display: none;
      }
      
  
    }




    &__card1-details{
        display: flex;
        margin-top: 2rem;

        @media only screen and (max-width : $bp-small)  {
           
            justify-content: center;
        }


   
    }

    &__img  {

        @media only screen and (max-width : $bp-small)  {
           
            // margin-bottom: 2rem;
            height: 70%;
            text-align: center;
        }


        
    }

    &__text1 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
   
        color: #0E1735;
    }

    &__text2 {
        
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #888B97;
    }


    &__cardlogo {
        margin-right: 1.6rem;
    }
}
