.header { 

    // height: 99vh;
    width: 100%;
    height: 100%;

    display: flex;
    // padding: 4rem 6rem;
    @media only screen and (max-width : $bp-medium)  {
        display: flex;
        flex-direction: column; 
        padding: 0 5rem;
        height: 100%;
    }

    &__first {
        flex: 0 0 50%;
        // width: 100%;
        // padding: 4rem 6rem;
        // background-image: url(../img/blur.png);
        
    }
  

    &__second {
        // height: 97vh;
        flex: 0 0 50%;
        // position: relative;
        // padding: 1rem;
        width: 100%;
        background-image: url(../img/dashboard.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:bottom;
        // width: 100%;

            
        @media only screen and (max-width : $bp-small)  {
           
           height: 100;
           background-size: auto;
           
        }
    }

    &__first-haf {
        padding: 4rem 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../img/blur.png);

        background-position: left;

        @media only screen and (max-width : $bp-medium)  {
           
            background-image: none;
                
       }



      
        
    }
    &__second-haf {
        padding: 0 6rem;
        
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width : $bp-large)  {
           
                margin-bottom: 2rem;
                    
           }
    
    }

    &__heading {
        font-family: 'Lexend';
        font-style: normal;
        width: 60%;
        font-weight: 700;
        font-size: 4rem;
        line-height: 5rem;
        text-transform: capitalize;
        color: #1B1C57;
        // padding-bottom: 1.5rem;

        @media only screen and (max-width : $bp-small)  {
                width: 100%;
                font-size: 3rem; 
                line-height: 4rem; 
                    
        }
        
    }

    &__span {
       
       color : lightcoral;
    }

    &__para {

        p{
            font-family: 'Lexend';
            font-style: normal;
            // width: 49rem;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #626687;
            opacity: 0.75;
            margin-bottom: 3rem;

        }
   

    }
    &__ship-para {
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3.2rem;
        color: #888B97;
        margin-top: 3rem;
    }

    &__logo-div {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
    }

  

}



.hunter {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8rem;

    @media only screen and (max-width : $bp-small)  {
        margin-bottom: 4rem;
        margin-top: 3rem;
                
    }

    @media only screen and (max-width : $bp-medium)  {
        margin-bottom: -2rem;
                
    }


    
    &__nav-row  {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width : $bp-medium)  {
            margin-bottom: 8rem;
                    
        }

        @media only screen and (max-width : $bp-small)  {
            flex-direction: column-reverse;
            flex-wrap: wrap;
                    
        }
        // margin-bottom: 8rem;
        // flex-direction: column-reverse;
        
    }

    &__icons1 {
        width: 3.2rem;
        height: 3.2rem;

    }

    &__icons2 {
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        top: .5rem;
        left: .5rem;

    }

    &__text {
        font-family: 'Lexend';
        color: #1B1C57;
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
        text-transform: capitalize;
        margin-left: 1.2rem;

        
        @media only screen and (max-width : $bp-small)  {
           
            margin-left: 3.2rem;
        }

    }

    
} 

.search {
    // width: 49rem;
    display: flex;
    align-items: center;
    border: 1px solid #E0E3EB;
    border-radius: 3.2rem;
    justify-content: space-between;
    padding: 3px;
    
    &__icon {
        padding-left: 17px;

            
        @media only screen and (max-width : $bp-small)  {
           
            padding-left: 1rem;
            margin-right: 1rem;

        }

        
    }

    &__text {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #888B97;
         
    }

    &__btn {

        height: 4.8rem;
        justify-self: end;
    }
}

.navbar {
    padding-top: 1.2rem;
}

.nav {

    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;

     @media only screen and (max-width : $bp-large)  {
            width: 84%;
            margin-top: 6rem;
        }

        @media only screen and (max-width : $bp-medium)  {
            display: none;
            visibility: hidden;
        }

    &__item {
        
    }

    &__link {

        text-align: center;
        text-decoration: none;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: capitalize;
        color: #F0F3FD;
        // color: black;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3.2rem;
        padding: .8rem 1.6rem;
    }

    &__last {
        width: 10.7rem;
        text-decoration: none;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        background: #D1FAE5;
        border-radius: 3.2rem;
        color: #F0F3FD;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: #047857;
        padding: 1.2rem 1.6rem;
    }
}

.navbar1 {
    visibility: hidden;
}

// Second Navbar
@media only screen and (max-width : $bp-medium)  {
    .navbar1 {
        visibility: visible;
    }

.nav1 {

    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;


    // @media only screen and (max-width : $bp-medium)  {
        

    // }

    // @media only screen and (max-width : $bp-large)  {
    //     display: none;
    //     visibility: hidden;

    // }

    // @media only screen and (max-width : $bp-largest)  {
    //     display: none;
    //     visibility: hidden;

    // }
    
    

    &__item {
        
    }

    &__link1 {

        text-align: center;
        text-decoration: none;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: capitalize;
        background-color:#D1FAE5;
        color: #047857;
        // background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3.2rem;
        padding: .8rem 1.6rem;
        margin-right: 2rem;

         @media only screen and (max-width : $bp-small)  {
            margin-right: 0rem;
            padding: .4rem 1rem;
            margin-bottom: 2rem;

         }
    }

    &__last1 {
        width: 10.7rem;
        text-decoration: none;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        background: #D1FAE5;
        border-radius: 3.2rem;
        color: #F0F3FD;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: #047857;
        padding: 1.2rem 1.6rem;

        @media only screen and (max-width : $bp-small)  {
            padding: 1rem 1rem;
            line-height: 2rem;
        //    display: none;

         }

    }
}

}
///////

.navbar-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width : $bp-medium)  {
        height: 208px;
    }
}
.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    padding-bottom: 2rem;
    // margin-left: 2.8rem;

        
    // @media only screen and (max-width : $bp-small)  {
    //        align-items: flex-end;
        
    // }

    &__div1 {
        display: flex;
        align-items: center;
        padding: 0.8rem;
        // width: 24rem;
        height: 6rem;
        background: #FFFFFF;
        box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
        border-radius: 22px;
        


    }
    &__div2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.8rem;
        // width: 15rem;
        height: 6rem;
        background: #FFFFFF;
        box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
        border-radius: 22px;
    }

    &__div3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.8rem;
        // width: 16rem;
        height: 6rem;
        background: #FFFFFF;
        box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
        border-radius: 22px;

        @media only screen and (max-width : $bp-small)  {
           margin-top: 2rem;
           display: none;
        
    }
    }
    &__img-div {
        
    }

    &__img1 {
        
        width: 7rem;
        height: 7rem;
        margin-left: -1rem;
    }
    &__img2 {
        
        width: 7rem;
        height: 7rem;
        margin-left: -5.4rem;

    }

    &__img3 {
        
        width: 7rem;
        height: 7rem;
        margin-left: -5.4rem;

    }
    &__img4 {
        width: 3rem;
        height: 3rem;
        margin-right: 8px;
    }
    &__img5 {
        margin-left: -2rem;
        width: 8rem;
        height: 8rem;
    }


    &__text-div {

    }

    &__text1 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #1B1C57;
    }

    &__text2 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.8rem;
        color: #68799F;
    }
}

.testing {
    position: relative;
    .test {
        height: 9.1rem;
        width: 6.5rem;
        border-top: 4px solid #EF4444;
        border-left: 4px solid #EF4444;
        // border-radius: 6px;
        position: absolute;
        top: -17rem;
        left: 7.7rem;
       
    }
    .test1 {
        height: 9.1rem;
        width: 6.5rem;
        border-top: 4px solid #F59E0B;
        border-right: 4px solid #F59E0B;
        // border-radius: 6px;
        position: absolute;
        top: -10.2rem;
        left: 50rem;
       
    }
    .test2 {
        height: 9.1rem;
        width: 6.5rem;
        border-top: 4px solid #3B82F6;
        border-right: 4px solid #3B82F6;
        // border-radius: 6px;
        position: absolute;
        top: 5rem;
        left: 52.5rem;
       
    }
}

