.header { 

    // height: 99vh;
    width: 100%;
    height: 100%;

    display: flex;
    // padding: 4rem 6rem;
    @media only screen and (max-width : $bp-mediumx)  {
        display: flex;
        flex-direction: column; 
        padding: 0 5rem;
        // height: 100%;
    }

    &__first {
        flex: 0 0 50%;
        // width: 100%;
        // padding: 4rem 6rem;
        // background-image: url(../img/blur.png);
        
    }
  

    &__second {
        // position: relative;
        // height: 97vh;
        flex: 0 0 50%;
        // position: relative;
        // padding: 1rem;
        width: 100%;
        // background-image: url(../img/dashboard.png);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position:top;
        // width: 100%;

            
        @media only screen and (max-width : $bp-small)  {
           
           height: 100;
           background-size: auto;
           
        }
    }

    &__main-image-div {
        width: 100%;
        position: relative;

        

    }

    &__main-image {
        width: 100%;

       
        
        // background-size: cover;
        // background-attachment: fixed;
    }

    &__first-haf {
        // padding: 4rem 6rem;
        padding : 4rem 10.4rem 0rem 12rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../img/blur.png);
        background-repeat: no-repeat;
        background-position: left;

        @media only screen and (max-width : $bp-largest)  {
           
            
            padding : 4rem 6rem 0rem 6rem; 
       }

        @media only screen and (max-width : $bp-large)  {
           
            // background-image: none;
            padding : 4rem 1rem 0rem 6rem;
                
       }

       @media only screen and (max-width : $bp-small)  {
           
        padding : 2rem 0rem 0rem 0rem;
            
       }



      
        
    }
    &__second-haf {
        // padding: 0 6rem;
        padding-left: 12rem;
        padding-right: 10.4rem;

        // height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width : $bp-largest)  {
            padding-left: 6rem;
            padding-right: 6rem;
            
            
       }
        @media only screen and (max-width : $bp-large)  {
           
                margin-bottom: 2rem;
                    
           }

           @media only screen and (max-width : $bp-small)  {
            padding-left: 0rem;
            padding-right: 0rem;

            
                
       }
    
    }

    &__heading {
        font-family: 'Lexend';
        font-style: normal;
        width: 93%;
        font-weight: 700;
        font-size: 4rem;
        line-height: 5rem;
        text-transform: capitalize;
        color: #1B1C57;
        // padding-bottom: 1.5rem;

        @media only screen and (max-width : $bp-small)  {
                width: 100%;
                font-size: 3rem; 
                line-height: 4rem; 
                    
        }
        
    }

    &__span {
       
        color: transparent;
        -webkit-text-stroke: 2px midnightblue;
    }

    &__para {

        p{
            font-family: 'Lexend';
            font-style: normal;
            // width: 49rem;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #626687;
            opacity: 0.75;
            margin-bottom: 3.2rem;
            margin-top: 2.4rem;

        }
   

    }
    &__ship-para {
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3.2rem;
        color: #888B97;
        margin-top: 3.2rem;
    }

    &__logo-div {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
    }

  

}



.hunter {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10rem;

    
    @media only screen and (max-width : $bp-largest)  {
           
            
        margin-bottom: 5rem; 
   }

    @media only screen and (max-width : $bp-large)  {
        margin-bottom: -2rem;
                
    }

    @media only screen and (max-width : $bp-small)  {
        margin-bottom: 2rem;
        margin-top: 3rem;
                
    }

    


    
    &__nav-row  {
        display: flex;
        // justify-content: space-between;

        
        
        @media only screen and (max-width : $bp-medium)  {
            margin-bottom: 8rem;
            
        }
        @media only screen and (max-width : $bp-large)  {
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 5rem;  
        }

       
        // margin-bottom: 8rem;
        // flex-direction: column-reverse;
        
    }

    &__icons1 {
        width: 3.2rem;
        height: 3.2rem;

    }

    &__icons2 {
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        top: .5rem;
        left: .5rem;

    }

    &__text {
        font-family: 'Lexend';
        color: #1B1C57;
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
        text-transform: capitalize;
        margin-left: 1.2rem;

        @media only screen and (max-width : $bp-large)  {
            margin-left: 2.2rem;
        }

        
        @media only screen and (max-width : $bp-small)  {
           
            margin-left: 3.2rem;
        }

    }

    
} 

.search {
    // width: 49rem
    display: flex;
    align-items: center;
    border: 1px solid #E0E3EB;
    border-radius: 3.2rem;
    justify-content: space-between;
    padding: 3px;
    
    &__icon {
        padding-left: 17px;
        margin-right: 1.9rem;

            
        @media only screen and (max-width : $bp-small)  {
           
            padding-left: 1rem;
            margin-right: 1rem;

        }

        
    }
    &__location-row {
        display: flex;
    }

    &__text {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #888B97;
         
    }

    // &__btn {

    //     height: 4.8rem;
    //     justify-self: end;
    // }

    &__button-row {
        display: flex;
        background: #10B981;
        border-radius: 32px;
        align-items: center;
        padding: 12px 16px;
        justify-content: space-between;
    }

    &__button-text {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        margin-right: 1.3rem;
    }

    &__button-icon {

    }
}

.navbar {
    // padding-top: 1.2rem;
    position: absolute;
    top: 16px;
    left: 10px;
    width: 90%;
}

.nav {

    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;

     @media only screen and (max-width : $bp-large)  {
            width: 84%;
            // margin-top: 6rem;
            margin-left: 3rem;
        }

        @media only screen and (max-width : $bp-large)  {
            display: none;
            visibility: hidden;
        }

    &__item {
        
    }

    &__link {

        text-align: center;
        text-decoration: none;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: capitalize;
        color: #F0F3FD;
        // color: black;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3.2rem;
        padding: .8rem 1.6rem;
    }

    &__change {
        text-decoration: none;
        color: #F0F3FD;
        margin-right: 1.4rem;
    }

    &__last {
        width: 10.7rem;
        text-decoration: none;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        background: #D1FAE5;
        border-radius: 3.2rem;
        color: #F0F3FD;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: #047857;
        padding: 1.2rem 1.6rem;
    }

    &__arrow-row {
        display: flex;
        align-items: center;
    }
}

.navbar1 {
    visibility: hidden;
}

// Second Navbar
@media only screen and (max-width : $bp-large)  {
    .navbar1 {
        visibility: visible;
    }

.nav1 {

    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7rem;
    

    &__item1 {

        @media only screen and (max-width : $bp-small)  {
            margin-bottom: .2rem;
        }
        
    }

    &__link1 {

        text-align: center;
        text-decoration: none;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.8rem;
        text-transform: capitalize;
        background-color:#D1FAE5;
        color: #047857;
        // background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3.2rem;
        padding: .8rem 1.6rem;
        margin-right: 2rem;

         @media only screen and (max-width : $bp-small)  {
            margin-right: 0rem;
            padding: 1.4rem 1rem;
            margin-bottom: 2rem;

         }
    }

    &__last1 {
        width: 10.7rem;
        text-decoration: none;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        background: #D1FAE5;
        border-radius: 3.2rem;
        color: #F0F3FD;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: #047857;
        padding: 1.2rem 1.6rem;

        @media only screen and (max-width : $bp-small)  {
            padding: 1.8rem 1rem;
            line-height: 2rem;
        //    display: none;

         }

    }
}

}
///////

// .navbar-row {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     // position: absolute;
//     //     top: 0%;
//     //     left: 0%;

//     @media only screen and (max-width : $bp-medium)  {
//         height: 208px;
//     }
// }
.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    position: absolute;
    top: 82%;
    left: 4%;
    width: 90%;
    
    // padding-bottom: 2rem;
    // margin-left: 2.8rem;

        
    @media only screen and (max-width : $bp-largestx)  {
        top: 71%;
        left: 4%;
     
    }

    @media only screen and (max-width : $bp-mediumx)  {
            flex-direction: column;
            top: 61%;
            
    }
   
    @media only screen and (max-width : $bp-small)  {
        top: 28%;
        left: 4%;
     
 }

    &__div1 {
        display: flex;
        align-items: center;
        padding: 2rem;
        // width: 24rem;
        height: 6rem;
        background: #FFFFFF;
        box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
        border-radius: 22px;
        
        @media only screen and (max-width : $bp-small)  {
            margin-bottom: 2rem
         
     }

     @media only screen and (max-width : $bp-mediumx)  {
        margin-bottom: 2rem
     
 }

    }
    &__div2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2.4rem;
        // width: 15rem;
        height: 6rem;
        background: #FFFFFF;
        box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
        border-radius: 22px;
    }

    &__div3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2.4rem;
        // width: 16rem;
        height: 6rem;
        background: #FFFFFF;
        box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
        border-radius: 22px;

        @media only screen and (max-width : $bp-largestx)  {
            margin-top: 2rem;
         
        }
        @media only screen and (max-width : $bp-small)  {
           margin-top: 2rem;
        //    display: none;
        
        }
    }
    &__img-div {
        
    }

    &__img1 {
        
        width: 7rem;
        height: 7rem;
        margin-left: -1rem;
    }
    &__img2 {
        
        width: 7rem;
        height: 7rem;
        margin-left: -5.4rem;

    }

    &__img3 {
        
        width: 7rem;
        height: 7rem;
        margin-left: -5.4rem;

    }
    &__img4 {
        width: 3rem;
        height: 3rem;
        margin-right: 8px;
    }
    &__img5 {
        margin-left: -2rem;
        width: 8rem;
        height: 8rem;
    }


    &__text-div {

    }

    &__text1 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #1B1C57;

        @media only screen and (max-width : $bp-mediumx)  {
            font-size: 1.5rem;
         
     }
    }

    &__text2 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.8rem;
        color: #68799F;

        @media only screen and (max-width : $bp-mediumx)  {
            font-size: 1.5rem;
         
     }
    }
}

.testing {
    position: relative;
    .test {
        height: 9.1rem;
        width: 6.5rem;
        border-top: 4px solid #EF4444;
        border-left: 4px solid #EF4444;
        // border-radius: 6px;
        position: absolute;
        top: -17rem;
        left: 7.7rem;
       
    }
    .test1 {
        height: 9.1rem;
        width: 6.5rem;
        border-top: 4px solid #F59E0B;
        border-right: 4px solid #F59E0B;
        // border-radius: 6px;
        position: absolute;
        top: -10.2rem;
        left: 50rem;
       
    }
    .test2 {
        height: 9.1rem;
        width: 6.5rem;
        border-top: 4px solid #3B82F6;
        border-right: 4px solid #3B82F6;
        // border-radius: 6px;
        position: absolute;
        top: 5rem;
        left: 52.5rem;
       
    }
}

