.testimonials {

    // padding: 12rem 0rem;
    padding-top: 10rem;
    padding-bottom: 8rem;
    width: 100%;

    @media only screen and (max-width : $bp-small)  {
        
        padding-bottom: 0rem;
    }

    &__text-div {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width : $bp-small)  {
            margin-top: 0rem;
            // padding-bottom: 6rem;
        }

    }

    &__line {
      
        width: 32px;
        height: 1px;
        background: #F59E0B;
        margin-bottom: .8rem;
        

    }

    &__p {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        
        text-transform: capitalize;
        color: #F59E0B;
        margin-bottom: 1.2rem;

    
        
        
    }

    &__heading {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 3.3rem;
        line-height: 4rem;
      
        text-transform: capitalize;
        color: #1B1C57;
        margin-bottom: 4rem;

        @media only screen and (max-width : $bp-small)  {
            font-size: 3rem;
            line-height: 3.5rem;
        }

   
    }

    &__row {
        display: flex;
        justify-content: space-around;
        
        flex-wrap: wrap;

        @media only screen and (max-width : $bp-large)  {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


    }

    &__pic1-div {
        position: relative;
        height: 40rem;
        width: 35rem;
        
        @media only screen and (max-width : $bp-medium)  {
            // display: none;
            margin-bottom: 15rem;
            margin-left: -5rem;

        }

        @media only screen and (max-width : $bp-large)  {
            // display: none;
            margin-bottom: 15rem;

        }
        
    }
    &__img1 {
        align-items: center;
    }

    &__pic2-div {
        width: 74rem;
        height: 40rem;
        position: relative;
        // background-color: brown;

        @media only screen and (max-width : $bp-small)  {
           
                height: 0rem;
                display: none;
                visibility: hidden;
        }

        
    }

    &__img2 {

        width: 100%;
        @media only screen and (max-width : $bp-small)  {
            // width: 80%;
            // height: 80%;
            // margin-left: 7rem;
            // margin-top: 17rem;
            display: none;
            visibility: hidden;
        }

    }

    &__pic3-div {
        width: 24rem;
        height: 40rem;
        position:relative;

        display: none;
        @media only screen and (max-width : $bp-small)  {
            display: none;
           
        }
        @media only screen and (max-width : $bp-medium)  {
            display: none;
           
        }
     
        
        @media only screen and (max-width : $bp-largest)  {
            display: none;
           
        }

        
    }

    &__pic3 {
       

    }

    &__text1-div {
        position: absolute;
        top: 66%;
        left: 8%;
        background: #FFFFFF;
        box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
        border-radius: 6px;
        width: 80%;
        // height: 53%;

        @media only screen and (max-width : $bp-small)  {
            top: 83%;
            left: 20%;
        }

    }

    &__text2-div {
        position: absolute;
        top: 66%;
        left: 10%;
        background: #FFFFFF;
        box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
        border-radius: 6px;
        width: 80%;
        padding: 2rem;

        @media only screen and (max-width : $bp-small)  {
            // top: 40%;
            // left: 14%;
            // margin-bottom: 20rem;
            visibility: hidden;
            display: none;
        }
    }

    &__text3-div {
        position: absolute;
        top: 66%;
        left: 10%;
        background: #FFFFFF;
        box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
        border-radius: 6px;
        width: 80%;
        padding: 2rem;

    }


    &__text1-div-p {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;      
        color: #626687;
        opacity: 0.75;
        text-align: center;
        padding-right: 2rem;
        padding-left: 1rem;
        margin-top: 5rem;

        @media only screen and (max-width : $bp-small)  {
            margin-top: 2rem;
        }

        
        
    }

    &__text2-div-h{

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-transform: capitalize;
        color: #1B1C57;
        padding-bottom: 1.6rem;
    }

    &__text2-div-p{
        
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;     
        color: #626687;
        opacity: 0.75;
    }

    &__star-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        padding-bottom: 2rem;
        margin-top: 5rem;

        @media only screen and (max-width : $bp-small)  {
            margin-top: 1rem;
            justify-content: space-evenly;
        }


    }

    &__star1 {
        margin-right: 1rem;
    }

    &__pic2-div {
        
    }

    &__pic3-div {
        
    }
}

.pic2-row {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    &__first-row {
        display: flex;
    }
    &__pic {
        margin-right: 2.4rem;

    }

    &__p1 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #0E1735;

    }

    &__p2 {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #888B97;
    }


    &__second-row {
            display: flex;
          
    }

    &__star {
        margin-right: 2rem;

    }

    &__star-text {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #3C4563;

    }
}



.pagination-div {
    text-align: center;
    margin-top: 8rem;

    @media only screen and (max-width : $bp-large)  {
        margin-top: 15rem;
       
    }

    @media only screen and (max-width : $bp-small)  {
        margin-top: 0rem;
       
    }
}