.tours {
    padding: 6rem 12rem;
    background-image: url(../img/redcolor.png);
    background-repeat: no-repeat;
    background-position: right;
    // margin-right: auto;
    // max-width: 1200px;
    // margin: auto;

    @media only screen and (max-width : $bp-largest)  {
           
        padding: 6rem 4rem;
      }
    
    @media only screen and (max-width : $bp-small)  {
        padding: 0rem 3rem 6rem 3rem;
        background-image: none;
        
    }

    &__row {

        display: flex;

        @media only screen and (max-width : $bp-large)  {
            display: flex;
            flex-direction: column; 
            padding: 0 5rem;
            
        }

        @media only screen and (max-width : $bp-medium)  {
            display: flex;
            flex-direction: column; 
            padding: 0rem 0rem;
            
        }

    }

    &__first {
        flex: 0 0 50%;
        margin-top: 4rem;
        padding-left: 4rem;

    }

    &__second {
        flex: 0 0 50%;
        
    }

    &__pics {
        // width: 48.8rem;
        // height: 41.6rem;
        // position: relative;


        @media only screen and (max-width : $bp-medium)  {
        //    width: 70%;
            
        }
        @media only screen and (max-width : $bp-small)  {
            // width: 40rem;
            // margin-left: 4rem;
            // width: 70%;
            // display: none;
            // visibility: hidden;
             
         }
        
    }

    &__main-pic-div{
        width: 100%;
        position: relative;
        // background-color: #10B981;

         @media only screen and (max-width : $bp-large)  {
           width: 70%;
           height : 70%;
        

             
         }
        
    }

    &__main-pic {
        width: 100%;
        // height: 100%;
        // width: 48.8rem;
        // height: 41.6rem;
        // background-position: right;

        margin-left: 10rem;

        @media only screen and (max-width : $bp-small)  {
           margin-left: 6rem;

             
         }

        //  @media only screen and (max-width : $bp-medium)  {
        //     width: 100%;
        //     height : 100%;
        //      margin-top: 3rem;
 
              
        //   }
        
        // @media only screen and (max-width : $bp-small)  {
        //     width: 100%;
        //     margin-left: 10px;

             
        //  }

        //  @media only screen and (max-width : $bp-largest)  {
        //     margin-left: 2rem;

             
        //  }

    }
    &__pic1 {

        width: auto;
        position: absolute;
        top: 74%;
        left: 8%;


       

        @media only screen and (max-width : $bp-medium)  {
            display: none;
            visibility: hidden;
             
         }
    }

    &__pic2 {
        position: absolute;
        top: 91%;
        left: 70%;

        // @media only screen and (max-width : $bp-large)  {
        //     display: none;
        //     visibility: hidden;

             
        //  }
        @media only screen and (max-width : $bp-medium)  {
            display: none;
            visibility: hidden;
             
         }


    }
    &__pic3 {
        position: absolute;
        top: 91%;
        left: 92%;

        // @media only screen and (max-width : $bp-large)  {
        //     display: none;
        //     visibility: hidden;

             
        //  }
        @media only screen and (max-width : $bp-medium)  {
            display: none;
            visibility: hidden;
             
         }

        

    }
    &__button {
        position: absolute;
        top: 45%;
        left: 54%;

        @media only screen and (max-width : $bp-large)  {
           
            top: 43%;
            left: 57%;
            // display: none;
 
         }

        @media only screen and (max-width : $bp-small)  {
           
            top: 50%;
            left: 43%;
 
         }


    }

    &__recomend2-row {
        display: flex;
        align-items: center;

        @media only screen and (max-width : $bp-medium)  {
           
           justify-content: center;
          }
    }

    &__recomend2 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        
        text-transform: capitalize;
        color: #F59E0B;
      
    }

    &__recomend2-line {
        margin-left: -4rem;
        margin-right: .8rem;
        height: 1px;
        width: 3.2rem;
        background: #F59E0B;
    }
    &__heading {

        margin-top: 1.5rem;
        margin-bottom: 1.6rem;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 4rem;
        text-transform: capitalize; 
        color: #1B1C57;

        @media only screen and (max-width : $bp-small)  {
            font-size: 3rem;
            line-height: 3.5rem;
            // margin-top: 1.5rem;
            // margin-bottom: 1.6rem;

        }
    }
    &__text {
        margin-bottom: 1.6rem;
        width: 76%;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        // line-height: 2.8rem; 
        line-height: 2.8rem;       
        color: #626687;
        opacity: 0.75;

        @media only screen and (max-width : $bp-small)  {
            width: 100%;
            line-height: 2.5rem;  

        }
    }
    &__house-detail { 

        margin-bottom: 2.4rem;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.8rem;        
        color: #1B1C57;
        opacity: 0.75;
    }

    &__second {

        flex: 0 0 50%;

    }
}

.icon {
    width: 55%;

    @media only screen and (max-width : $bp-large)  {
        width: 73%; 

    }

    

    &__row1 {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &__row2 {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &__icons {
        margin-right: 2rem;
    }

    &__first {
        display: flex;
        align-items: center;
        margin-bottom: 2.8rem;
    }

    &__second {
        display: flex;
        align-items: center;
    }

    &__text {

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        color: #3C4563;

        @media only screen and (max-width : $bp-small)  {
            
            margin-right: 4rem;
        }
        

    }
}

.line {
    height: 2px;
    width: 46rem;
    background: #F0F3FD;
    margin-bottom: 2rem;

    @media only screen and (max-width : $bp-small)  {
            
        width: 28rem;
    }

 
}

.tour-last-row {
    display: flex;
    align-items: center;

    @media only screen and (max-width : $bp-small)  {
            
        flex-direction: column;
    }
    @media only screen and (max-width : $bp-large)  {
            
        margin-bottom: 3rem;
    }

    @media only screen and (max-width : $bp-large)  {
            
        width: 90%;
    }

    &__pic {
        margin-right: 2.4rem;

        
        @media only screen and (max-width : $bp-small)  {
    
            margin-bottom: 1rem;
            
        }
    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 16px;
        background: #10B981;
        border-radius: 32px;
        margin-left: 7rem;

        @media only screen and (max-width : $bp-largest)  {
           
            margin-left: 2rem;
            
        }

        @media only screen and (max-width : $bp-large)  {
            padding: 7px 8px;
            margin-left: 1rem;
            
        }

        @media only screen and (max-width : $bp-small)  {
            padding: 6px 7px;
            // margin-left: -6px;
            margin-top: 1rem;
            margin-bottom: 4rem;
            
        }
        // @media only screen and (max-width : $bp-medium)  {
        //     padding: 7px 8px;
        //     margin-left: 2rem;
            
        // }

       

        
    }
    &__text {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        margin-left: 2rem;

        @media only screen and (max-width : $bp-small)  {
            margin-left: 1rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
            
        }
    
    }
}
.text-row {
   

    &__p1{
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #0E1735;
    }

    &__p2 {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #888B97;

    }
}